[submodule "properties_vs_compiler/properties_vs_compilers/secret-erasure/safeclib"]
	path = properties_vs_compiler/properties_vs_compilers/secret-erasure/safeclib
	url = https://github.com/rurban/safeclib.git
